.pop-up-input {
  height: 2rem;
  width: 23rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  padding: 0;
  padding-left: 1rem;
  outline:none;
  margin: .5rem 1rem;
}

.pop-up-light {
  background-color: #ddd;
  color:black;
}

.pop-up-dark {
  background-color: #222226;
  color:whitesmoke;
}

.or-register {
  text-align: center;
}

.or-register::before {
  content: "";
  background-color: #5d5e61;
  margin-top: 2rem;
  margin-right: 1rem;
  height: 2px;
  width: 10rem;
}

.or-register::after {
  content: "";
  background-color: #5d5e61;
  margin-top: 2rem;
  margin-left: 1rem;
  height: 2px;
  width: 10rem;
}

.overlay {
  width: 100%;
  height:100%;
  position: fixed;
  z-index: 99;
  background-color: #111;
  opacity: .8;
  animation-fill-mode: forwards;
  animation-duration: .2s;
}

.overlay-open {
  animation-name: overlayOpen;
}

.overlay-close {
  animation-name: overlayClose;
}

.pop-up {
  position: fixed;
  top: 3rem;
  left: 50%;
  box-sizing: border-box;
  width: 30rem;
  margin-left: -15rem;
  padding: 0 2rem;
  font-size: 3rem;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 2rem;
  animation-fill-mode: forwards;
  animation-duration: .2s;
  z-index: 100;
}

.pop-up-open {
  animation-name: popUpOpen;
}

.pop-up-close {
  animation-name: popUpClose;
}

@keyframes popUpOpen {
  from {opacity: 0; transform: translateY(5rem);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes overlayOpen {
  from {opacity: 0;}
  to {opacity: .8;}
}

@keyframes popUpClose {
  from {opacity: 1; transform: translateY(0);}
  to {opacity: 0; transform: translateY(-5rem);}
}

@keyframes overlayClose {
  from {opacity: .8;}
  to {opacity: 0;}
}
