$border-color-light: #ddd;
$border-color-dark: #333;
$background-color-light: white;
$background-color-dark: #222;

#choose-track-input {
  display: none;
}

.audiotrack-title-input {
  height: 2.5rem;
  border-radius: 1.25rem;
  font-size: 1.5rem;
  margin: 1rem;
  padding-left: .5rem;
  outline: none;
  color: inherit;
  box-sizing: border-box;
  width: 95%;
  max-width: 30rem;

  @media (min-width: 42rem) {
    width: 30rem;
  }

  &-light {
    background-color: $background-color-light;
    border: 1px solid $border-color-light;
  }

  &-dark {
    background-color: $background-color-dark;
    border: 1px solid $border-color-dark;
  }
}

.audioplayer {
  &-title {
    margin-left: 1rem;
    font-size: 1rem;
  }

  &-controls {
    margin-top: .2rem;
    display: none;
    position: absolute;
    left: 16.5rem;

    &-button {
      &-light {
        background-color: #eee;
  
        &:hover {
          background-color: #ddd;
        }
      }
  
      &-dark {
        background-color: #555;
        color: inherit;
  
        &:hover {
          background-color: #777;
        }
      }
    }

    @media (min-width: 1200px) {
      display: flex;
    }
  }

  &-volume {

    &-wrapper {
      margin-left: 1rem;
      padding: .3rem 0;
      display: inline-block;
      cursor: pointer;
      height: 4px;
      width: 100px;
    }

    &-bar {
      height: 4px;
      width: 100%;

      &-light {
        background-color: #ddd;
      }

      &-dark {
        background-color: #777;
      }
    }

    &-value {
      height: 4px;

      &-light {
        background-color: #c0c0c0;
      }

      &-dark {
        background-color: #aaa;
      }
    }
  }

  &-progress {
    &-wrapper {
      margin-left: 1rem;
      padding: .3rem 0;
      cursor: pointer;
      height: 4px;
      width: 400px;
    }

    &-bar {
      height: 4px;
      width: 100%;
      
      &-light {
        background-color: #ddd;
      }

      &-dark {
        background-color: #777;
      }
    }

    &-time {
      height: 4px;
      
      &-light {
        background-color: #c0c0c0;
      }

      &-dark {
        background-color: #aaa;
      }
    }
  }

  &-button {
    width: 4rem;
    height: 2rem;
    outline: none;
    display: block;
    cursor: pointer;
    border-style: none;
    border-radius: .2rem;
    transition-duration: .1s;
  }
}

.trackitem {
  width: 100%;
  display: flex;
  padding: .5rem;
  margin-top: .5rem;
  position: relative;
  border-radius: .5rem;
  box-sizing: border-box;

  &-button {
    &-light {
      background-color: white;
      border: 1px solid #ddd;
    }

    &-dark {
      background-color: #555;
      color: inherit;

      @media (min-width: 42rem) {
        &:hover {
          background-color: #777;
        }
      }
    }
  }

  &-delete {
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    padding: .2rem;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    border: none;

    &-light {
      text-shadow: 0 0 0 #bbb;
    }

    &-dark {
      text-shadow: 0 0 0 #777;
    }

    &:hover {
      text-shadow: 0 0 0 #999;
    }
  }

  &-progress {

    &-wrapper {
      margin-left: 1rem;
      padding: .3rem 0 .1rem 0;
      cursor: pointer;
      height: 4px;
      width: calc(100% - 4rem);
    }

    &-bar {
      height: 4px;
      width: 100%;
      
      &-light {
        background-color: #ccc;
      }

      &-dark {
        background-color: #777;
      }
    }

    &-time {
      height: 4px;
      
      &-light {
        background-color: #aaa;
      }

      &-dark {
        background-color: #aaa;
      }
    }
  }

  @media (min-width: 1200px) {
    &-light:hover {
      background-color: #e6e6e6;
    }
  }

  @media (min-width: 1200px) {
    &-dark:hover {
      background-color: #2e2e2e;
    }
  }
}
