$border-color-light: #ddd;
$border-color-dark: #333;
$background-color-light: white;
$background-color-dark: #222;

#choose-track-input {
  display: none;
}

.audiotrack-title-input {
  height: 2.5rem;
  width: 25rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  margin: 1rem;
  padding-left: .5rem;
  outline: none;
  color: inherit;

  &-light {
    background-color: $background-color-light;
    border: 1px solid $border-color-light;
  }

  &-dark {
    background-color: $background-color-dark;
    border: 1px solid $border-color-dark;
  }
}

.trackitem {
  display: flex;
  padding: .5rem;
  margin-top: .5rem;
  position: relative;
  border-radius: .5rem;

  &-button {
    &-light {
      background-color: whitesmoke;
    }

    &-dark {
      background-color: #555;
      color: inherit;

      &:hover {
        background-color: #777;
      }
    }
  }

  &-title {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  &-delete {
    position: absolute;
    right: 1rem;
    padding: .2rem;
    cursor: pointer;
    opacity: .4;

    &:hover {
      opacity: .8;
    }
  }

  &-light {
    &:hover {
      background-color: #e6e6e6;
    }
  }

  &-dark {
    &:hover {
      background-color: #2e2e2e;
    }
  }
}

.audioplayer {
  &-title {
    margin-left: 1rem;
    font-size: 1rem;
  }

  &-controls {
    margin-top: 1rem;
    display: flex;

    &-button {
      &-light {
        background-color: #eee;
  
        &:hover {
          background-color: #ddd;
        }
      }
  
      &-dark {
        background-color: #555;
        color: inherit;
  
        &:hover {
          background-color: #777;
        }
      }
    }
  }

  &-volume {

    &-wrapper {
      margin-left: 1rem;
      padding: .5rem 0;
      display: inline-block;
      cursor: pointer;
      height: 4px;
      width: 100px;
    }

    &-bar {
      height: 4px;
      width: 100%;

      &-light {
        background-color: #ddd;
      }

      &-dark {
        background-color: #777;
      }
    }

    &-value {
      height: 4px;

      &-light {
        background-color: #c0c0c0;
      }

      &-dark {
        background-color: #aaa;
      }
    }
  }

  &-progress {

    &-wrapper {
      margin-left: 1rem;
      padding: .5rem 0;
      display: inline-block;
      cursor: pointer;
      height: 4px;
      width: 400px;
    }

    &-bar {
      height: 4px;
      width: 100%;
      
      &-light {
        background-color: #ddd;
      }

      &-dark {
        background-color: #777;
      }
    }

    &-time {
      height: 4px;
      
      &-light {
        background-color: #c0c0c0;
      }

      &-dark {
        background-color: #aaa;
      }
    }
  }

  &-button {
    width: 4rem;
    height: 2rem;
    outline: none;
    display: block;
    cursor: pointer;
    border-style: none;
    border-radius: .2rem;
    transition-duration: .1s;
  }
}
