$border-color-light: #ddd;
$border-color-dark: #333;
$background-color-light: white;
$background-color-dark: #222;

#choose-track-input {
  display: none;
}

.audiotrack-title-input {
  height: 2.5rem;
  width: 25rem;
  border-radius: 1.25rem;
  font-size: 1.5rem;
  padding-left: .5rem;
  outline: none;
  color: inherit;

  &-light {
    background-color: $background-color-light;
    border: 2px solid $border-color-light;
  }

  &-dark {
    background-color: $background-color-dark;
    border: 2px solid $border-color-dark;
  }
}

.audioplayer {

  &-trackitem {
    display: flex;
    padding: .5rem;
    margin-top: .5rem;
    border-radius: .5rem;
    position: relative;

    &-title {
      font-size: 1.5rem;
      margin-left: 1rem;
    }

    &-delete {
      position: absolute;
      right: 1rem;
      cursor: pointer;
      opacity: .8;

      &:hover {
        opacity: .4;
      }
    }

    &-light {
      &:hover {
        background-color: #ddd;
      }
    }

    &-dark {
      &:hover {
        background-color: #444;
      }
    }

  }

  &-title {
    margin-left: 1rem;
    font-size: 1rem;
  }

  &-controls {
    margin-top: 1rem;
    display: flex;
  }

  &-volume {

    &-wrapper {
      margin-left: 1rem;
      padding: .5rem 0;
      display: inline-block;
      cursor: pointer;
      height: 4px;
      width: 100px;
    }

    &-bar {
      height: 4px;
      width: 100%;

      &-light {
        background-color: #ccc;
      }

      &-dark {
        background-color: #777;
      }
    }

    &-value {
      height: 4px;

      &-light {
        background-color: #999;
      }

      &-dark {
        background-color: #aaa;
      }
    }
  }

  &-progress {

    &-wrapper {
      margin-left: 1rem;
      padding: .5rem 0;
      display: inline-block;
      cursor: pointer;
      height: 4px;
      width: 400px;
    }

    &-bar {
      height: 4px;
      width: 100%;
      
      &-light {
        background-color: #ccc;
      }

      &-dark {
        background-color: #777;
      }
    }

    &-time {
      height: 4px;
      
      &-light {
        background-color: #999;
      }

      &-dark {
        background-color: #aaa;
      }
    }
  }

  &-button {
    width: 4rem;
    height: 2rem;
    outline: none;
    display: block;
    cursor: pointer;
    border-style: none;
    border-radius: .2rem;
    transition-duration: .1s;

    &-light {
      background-color: whitesmoke;

      &:hover {
        background-color: #05359c;
        color: white;
      }

      &:disabled {
        background-color: #e2e2e2;
        color: #a3a3a3;
        cursor: default;
      }
    }

    &-dark {
      background-color: #333;
      color: white;

      &:hover {
        background-color: #05359c;
      }

      &:disabled {
        background-color: #6e6e6e;
        color: #bdbdbd;
        cursor: default;
      }
    }
  }
}
