$border-color-light: #ddd;
$border-color-dark: #333;
$background-color-light: white;
$background-color-dark: #222;

#choose-picture-input {
  display: none;
}

.post {
  &-buttons-container {
    position: relative;
    display: flex;
    justify-content: flex-end;

    @media (min-width: 42rem) {
      padding: 0 1rem;
    }
  }

  &-button {
    border-radius: .5rem;
    height: 2rem;
    width: 6rem;
    padding: 0;
    margin-left: 0;

    @media (min-width: 42rem) {
      margin-left: .5rem;
    }

    &-light {
      border: 1px solid #ddd;
      background-color: white;

      @media (min-width: 1200px) {
        &:hover {
          // background-color: #eee;
          box-shadow: 0 0 8px 2px #eee;
        }
      }
    }

    &-dark {
      border: 1px solid #555;
      background-color: #333;

      @media (min-width: 1200px) {
        &:hover {
          background-color: #555;
        }
      }
    }

    &-delete {
      position: absolute;
      left: .5rem;
      width: 5rem;

      @media (min-width: 42rem) {
        left: 1rem;
      }

      &-light {
        border: 1px solid red;

        @media (min-width: 1200px) {
          &:hover {
            color: white;
            background-color: red;
            box-shadow: none;
          }
        }
      }

      &-dark {
        border: 1px solid #900;

        @media (min-width: 1200px) {
          &:hover {
            background-color: #900;
          }
        }
      }
    }
  }

  &-item {
    border-width: 0;
    margin-top: 1rem;
    border-radius: 0;
    border-style: solid;

    &-light {
      background-color: white;
      border-color: $border-color-light;
    }
    
    &-dark {
      background-color: #333;
      border-color: $border-color-dark;
    }

    @media (min-width: 42rem) {
      border-radius: .5rem;
      border-width: 1px;
    }
  }

  &-title {
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
  }
  
  &-text {
    padding: 1rem;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  &-picture {
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: 42rem) {
      max-width: 600px;
      max-height: 400px;
    }

    &-container {
      width: 100%;
      max-height: 400px;
    }

    img {
      opacity: 0;
      max-width: 100%;
      max-height: 400px;
    }
  }
}

.account-name {
  text-align: center;
  overflow: hidden;
  font-size: 2.5rem;
  height: 3rem;

  @media (min-width: 42rem) {
    font-size: 4rem;
    height: 5rem;
  }
}

.empty-post {
  text-align: center;
  font-size: 1.8rem;

  @media (min-width: 42rem) {
    font-size: 2.5rem;
  }
}

.title-input {
  box-sizing: border-box;
  height: 2.5rem;
  width: 100%;
  border-radius: 0;
  font-size: 1.5rem;
  padding: .25rem;
  outline:none;
  color: inherit;
  align-self: flex-start;

  @media (min-width: 42rem) {
    width: 70%;
    border-radius: .5rem .5rem 0 0;
  }

  &-wrapper {
    width: 100%;

    @media (min-width: 42rem) {
      width: 35rem;
    }
  }

  &-light {
    background-color: $background-color-light;
    border: 2px solid $border-color-light;
  }

  &-dark {
    background-color: $background-color-dark;
    border: 2px solid $border-color-dark;
  }
  
  &-light, &-dark {
    border-width: 2px 0 0 0;

    @media (min-width: 42rem) {
      border-width: 2px 2px 0 2px;
    }
  }
}

.post-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview {
  &-photo {
    max-height: 10rem;
    max-width: 18rem;
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 20rem;
    margin: 1rem 0;
  }
}

.textinput {
  box-sizing: border-box;
  border-style: solid;
  border-radius: 0;
  display: block;
  padding: .25rem;
  width: 100%;
  min-height: 7rem;
  resize: none;
  font-size: 1.2rem;
  outline: none;
  color: inherit;

  &-light {
    background-color: $background-color-light;
    border: 2px solid $border-color-light;
  }

  &-dark {
    background-color: $background-color-dark;
    border: 2px solid $border-color-dark;
  }

  &-light, &-dark {
    border-width: 2px 0;

    @media (min-width: 42rem) {
      border-width: 2px;
    }
  }

  @media (min-width: 42rem) {
    width: 35rem;
    border-radius: 0rem .5rem .5rem .5rem;
  }
}

.upload-status {
  text-align: center;
  font-size: 1.5rem;
  height: 3rem;

  @media (min-width: 42rem) {
    height: 2rem;
  }
}
