.nav-item {
  display: block;
  text-decoration: none;
  width: 13rem;
  border-radius: 6px;
  padding: .3rem .5rem;
  cursor: pointer;
}

.nav-item-light {
  color:black;
}

.nav-item-dark {
  color: white;
}

.nav-item-light:hover {
  background-color: #ddd;
}

.nav-item-dark:hover {
  background-color: #6e6e6e;
}

.side-bar {
  position: sticky;
  padding: .5rem;
  width: 14rem;
  margin-top: 1rem;
  top: 4rem;
  border-radius: .5rem;
}

.side-bar-light {
  background-color:whitesmoke;
  border: 1px solid #e0e0e0;
}

.side-bar-dark {
  background-color:#333;
  border: 1px solid #333;
}

.left-side-bar {
  margin-right: 3rem;
}

.right-side-bar {
  margin-left: 3rem;
}

.separate-line {
  height: 2px;
  border-style: none;
}

.separate-line-dark {
  background-color: #666;
}

.separate-line-light {
  background-color: #ccc;
}
