.nav-item {
  display: block;
  text-decoration: none;
  width: 12rem;
  border-radius: 6px;
  padding: .3rem .5rem;
  cursor: pointer;
  outline: none;
  color: inherit;

  &-light:hover {
    background-color: #eee;
  }

  &-dark:hover {
    background-color: #555;
  }
}

.side-bar {
  box-sizing: border-box;
  position: sticky;
  padding: .5rem;
  width: 14rem;
  top: 4rem;
  border-radius: .5rem;
  display: none;

  &-light {
    background-color:whitesmoke;
    border: 1px solid #ddd;
  }

  &-dark {
    background-color:#333;
    border: 1px solid #333;
  }

  &-left {
    margin-right: 2rem;
  }

  &-right {
    margin-left: 2rem;
  }

  @media (min-width: 1200px) {
    display: block;
  }
}

.bottom-nav-bar {
  box-sizing: border-box;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;

  &-light {
    background-color: white;
    border-top: 1px solid #ccc;
  }

  &-dark {
    background-color: #444;
    border-top: 1px solid #555;
  }
  
  &-links {
    height: 3rem;
    justify-content: space-around;
    display: flex;

    &>a {
      display: block;
      padding: 1rem;
      color: inherit;
      text-decoration: none;
    }
  }

  @media (min-width: 1200px) {
    display: none;
  }

  &-player {
    box-sizing: border-box;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;

    &-light {
      border-bottom: 1px solid #ccc;

      button {
        background-color: #eee;
      }
    }

    &-dark {
      border-bottom: 1px solid #555;

      button {
        background-color: #555;
      }
    }

    button {
      cursor: pointer;
      color: inherit;
      border: none;
      border-radius: .2rem;
      width: 4rem;
      font-size: 1rem;
      margin: .1rem 0;
    }
  }
}
