.darkLinkText:hover {
  background-color: #6e6e6e;
  cursor: pointer;
}

.lightLinkText:hover {
  background-color: #ddd;
  cursor: pointer;
}

.UsefulLinkDark {
  color:black;
}

.UsefulLinkLight {
  color: #ffffff;
}

.UsefulLink {
  text-decoration: none;
  padding-left: .1px;
}

.lightBox {
  background-color:whitesmoke;
  border: 1px solid #e0e0e0;
}

.darkBox {
  background-color:#333;
  border: 1px solid #333;
}

.Box {
  position: sticky;
  padding: .5rem;
  width: 14rem;
  margin-top: 1rem;
  top: 4rem;
  border-radius: .5rem;
}

.LeftBox {
  margin-right: 3rem;
}

.RightBox {
  margin-left: 3rem;
}

.LinkText {
  position: absolute;
  width: 100%;
}

.List {
  font-size: 1.4rem;
  margin: 0;
}

.Separate-Line {
  height: 2px;
  border-style: none;
}

.Separate-Line-Dark {
  background-color: #666;
}

.Separate-Line-Light {
  background-color: #ccc;
}
