.pop-up {
  position: fixed;
  top: 3rem;
  left: 50%;
  box-sizing: border-box;
  width: 30rem;
  margin-left: -15rem;
  padding: 0 2rem;
  font-size: 3rem;
  text-align: center;
  border: 1px solid #555;
  border-radius: 1rem;
  animation-fill-mode: forwards;
  animation-duration: .2s;
  z-index: 100;

  @media (max-width: 42rem) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    padding-top: 2rem;
  }

  &-hide {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: none;

    &-light {
      text-shadow: 0 0 0 #bbb;
    }

    &-dark {
      text-shadow: 0 0 0 #555;
    }

    @media (max-width: 42rem) {
      display: block;
    }
  }

  &-input {
    height: 2rem;
    width: 23rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 0;
    padding-left: 1rem;
    outline: none;
    margin: .5rem 1rem;
    color: inherit;

    @media (max-width: 42rem) {
      width: calc(100% - 1rem);
      margin: .5rem 0;
    }

    &-light {
      background-color: white;
      border: 1px solid #ccc;

      &:disabled {
        background-color: #eee;

        &::placeholder {
          color: #aaa;
        }
      }
    }

    &-dark {
      background-color: #222;
      border: 1px solid #444;

      &:disabled {
        border-color: #333;

        &::placeholder {
          color: #444;
        }
      }
    }
  }

  &-open {
    animation-name: popUpOpen;
  }

  &-close {
    animation-name: popUpClose;
  }
}

.or-register::before, .or-register::after {
  content: "";
  margin: 2rem 1rem;
  height: 1px;
  width: 10rem;

  @media (max-width: 42rem) {
    margin: 1.2rem;
    width: calc(50% - 2rem);
  }
}

@media (max-width: 42rem) {
  .or-register::before {
    margin-left: 0;
  }
  .or-register::after {
    margin-right: 0;
  }
}

.or-register-light::before, .or-register-light::after {
  background-color: #ccc;
}

.or-register-dark::before, .or-register-dark::after {
  background-color: #555;
}

.overlay {
  width: 100%;
  height:100%;
  position: fixed;
  z-index: 99;
  background-color: #111;
  opacity: .8;
  animation-fill-mode: forwards;
  animation-duration: .2s;

  &-open {
    animation-name: overlayOpen;
  }

  &-close {
    animation-name: overlayClose;
  }
}

@keyframes popUpOpen {
  from {opacity: 0; transform: translateY(5rem);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes overlayOpen {
  from {opacity: 0;}
  to {opacity: .8;}
}

@keyframes popUpClose {
  from {opacity: 1; transform: translateY(0);}
  to {opacity: 0; transform: translateY(-5rem);}
}

@keyframes overlayClose {
  from {opacity: .8;}
  to {opacity: 0;}
}
