.login-page {
  &-container {
    border-radius: 0;
    padding: 1rem;
    font-size: 1.5rem;

    &>div {
      text-align: center;
    }

    &-light {
      background-color: whitesmoke;
      border: 1px solid #ddd;
    }

    &-dark {
      background-color: #333;
      border: 1px solid #333;
    }

    &>ul {
      padding-inline-start: 0;
    }

    @media (min-width: 42rem) {
      border-radius: .5rem;
      font-size: 2rem;

      &>ul {
        padding-inline-start: 2rem;
      }
    }
  }

  &-feature {
    width: 14rem;
    cursor: default;
    margin: .5rem 0;
    padding-left: 1rem;
    list-style-type: none;

    &-light {
      border-left: 4px solid #ddd;
      background-color: #eee;
    }

    &-dark {
      border-left: 4px solid #777;
      background-color: #444;
    }
  }

  &-button {
    &-light {
      background-color: whitesmoke;
      border: 1px solid #ddd;

      @media (min-width: 42rem) {
        &:hover {
          background-color: #ddd;
        }
      }
    }

    &-dark {
      background-color: #333;
      border: 1px solid #555;

      @media (min-width: 42rem) {
        &:hover {
          background-color: #555;
        }
      }
    }
  }
}
