.header-dark {
  background-color: #3c3c3c;
  border-bottom: 1px solid #222;
  color: inherit;
}

.header-light {
  background-color: whitesmoke;
  border-bottom: 1px solid #ddd;
  color: inherit;
}

#header-content {
  width: 72rem;
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;

  @media (max-width: 1200px) {
    padding: 0 1rem;
  }
}

.login-container {
  height: 3rem;
  display: flex;
  align-items: center;

  &>span:first-child {
    @media (max-width: 42rem) {
      display: none;
    }
  }
}

.login-button{
  padding: .2rem .5rem;
  border-radius: .2rem;
  cursor: pointer;
  background-color: rgb(0, 70, 160);
  color: #fff;
}

.username {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;

  &-link {
    color: inherit;
    text-decoration: none;
    display: none;

    @media (max-width: 1200px) {
      display: block;
    }
  }

  @media (max-width: 1200px) {
    padding: 0;
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: default;
  
  &-content {
    display: none;
    position: absolute;
    right: 0;
    border-radius: 0 0 3px 3px;
    padding: .25rem 0rem;
    
    &-light {
      background-color: whitesmoke;
      border: 1px solid #ddd;
      box-shadow: 0 .5rem 1rem darkgray;
    }
    
    &-dark {
      background-color: #777;
    }
  }

  &-option {
    cursor: pointer;
    padding: .2rem 1rem;
    
    &-light:hover {
      background-color: #ddd;
    }
    
    &-dark:hover {
      background-color: #999;
    }
  }

  &-light:hover {
    background-color: #eee;

    @media (max-width: 1200px) {
      background-color: transparent;
    }
  }

  &-dark:hover {
    background-color: #555;

    @media (max-width: 1200px) {
      background-color: transparent;
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
  
  @media (max-width: 1200px) {
    &:hover .dropdown-content {
      display: none;
    }
  }
}

.home-link {
  outline: none;
  text-decoration: none;
  color: inherit;
  display: block;

  @media (max-width: 1200px) {
    display: none;
  }
}

.slider {
  &-container {
    display: none;

    @media (max-width: 1200px) {
      display: inline-block;
    }
  }

  &-label {
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  &-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  &-switch {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 1rem;
    background-color: #ddd;
  }
  
  &-switch::before {
    position: absolute;
    left: 4px;
    bottom: 4px;
    content: '';
    transition: .2s;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 50%;
  }
  
  &-checkbox:checked + &-switch {
    background-color: #555;
  }
  
  &-checkbox:checked + &-switch::before {
    transform: translateX(2rem);
  }
}
