.friend-item {
  height: 5rem;
  display: flex;
  padding: 0 .5rem;
  justify-content: space-between;

  &-light {
    border-top: 1px solid #ccc;
  }

  &-dark {
    border-top: 1px solid #333;
  }

  &-name {
    display: block;
    height: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    padding-left: .5rem;
    
    @media (min-width: 42rem) {
      font-size: 2rem;
      padding: 0;
    }
  }
}

.search {
  &-hr-line {
    display: block;

    @media (min-width: 42rem) {
      display: none;
    }
  }

  &-friends {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0 1rem;
    
    @media (min-width: 42rem) {
      padding: 0;
    }
  }

  &-input {
    width: calc(100% - 8rem);
    height: 2rem;
    padding-left: .5rem;
    border-radius: .3rem;
    outline: none;
    color: inherit;
    font-size: 1rem;
    
    &-dark {
      background-color: #222;
      border: 1px solid #333;
    }

    &-light {
      background-color: white;
      border: 1px solid #ddd;
    }

    @media (min-width: 42rem) {
      width: 32rem;
    }
  }

  &-button {
    border-style: none;
    border-radius: .3rem;
    cursor: pointer;
    padding: 0 1rem;
    color: white;
    font-size: 1rem;
    outline: none;
    color: inherit;

    &-light {
      background-color: white;

      @media (min-width: 1200px) {
        &:hover {
          background-color: #ddd;
        }
      }

      &:disabled {
        color: #888;
        background-color: #ddd;
        cursor: default;
      }
    }

    &-dark {
      background-color: #555;

      @media (min-width: 1200px) {
        &:hover {
          background-color: #777;
        }
      }

      &:disabled {
        color: #777;
        background-color: #333;
        cursor: default;
      }
    }
  }
  
  &-item {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    padding: 0 .5rem;
    box-sizing: border-box;

    &-light {
      border-top: 1px solid #ccc;
    }

    &-dark {
      border-top: 1px solid #333;
    }

    &>div {
      font-size: 1.6rem;
    }
  }
}

.options {
  box-sizing: border-box;
  width: 12rem;
  height: 12rem;
  display: none;
  margin-bottom: 1rem;
  padding: .5rem;
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  border-radius: .5rem;
  flex-direction: column;

  &-light {
    background-color: white;
    border: 1px solid #ddd;
  }

  &-dark {
    background-color: #333;
  }

  @media (min-width: 42rem) {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 0;
    position: static;

    &-light, &-dark {
      background-color: transparent;
      border: none;
    }
  }

  &-selector {
    display: block;

    &-button {
      display: block;
      cursor: pointer;
      font-size: 1.5rem;
      width: 80%;
      text-align: left;
      padding-left: 1rem;
      height: 3rem;
      background-color: transparent;
      border: none;
      color: inherit;
  
      div {
        display: inline-block;
        margin-left: .5rem;
        transform: rotate(90deg);
        font-size: 1.5rem;
      }
  
    }

    @media (min-width: 42rem) {
      display: none;
    }
  }

  &-item {
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    text-align: left;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    color: inherit;
    border-radius: 0;

    @media (min-width: 42rem) {
      width: 25%;
      text-align: center;
      font-size: 1rem;
    }

    &:first-child {
      border-left: none;
    }

    &-light {
      @media (min-width: 42rem) {
        border-left: 1px solid #ccc;
      }

      @media (min-width: 1200px) {
        &:hover {
          background-color: #ddd;
        }
      }
    }

    &-dark {
      @media (min-width: 42rem) {
        border-left: 1px solid #333;
      }

      @media (min-width: 1200px) {
        &:hover {
          background-color: #333;
        }
      }
    }
  }
}

.notification {
  font-size: 1.5rem;
  text-align: center;

  @media (min-width: 42rem) {
    font-size: 2rem;
  }
}

.request-item {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 0 .5rem;

  &-light {
    border-top: 1px solid #ccc;
  }

  &-dark {
    border-top: 1px solid #333;
  }
}

.clickable-item {
  height: 1.3rem;
  outline: none;
  display: flex;
  margin: .5rem;
  align-items: center;
  justify-content: center;
  border-radius: .3rem;
  width: 8rem;
  height: 1.8rem;
  font-size: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  border-style: none;
  text-decoration: none;
  color: inherit;

  &-light {
    border: 1px solid transparent;
    background-color: white;

    &-danger {
      background-color: white;
      border: 1px solid #d00;

      @media (min-width: 1200px) {
        &:hover {
          color: white;
          background-color: #d00;
        }
      }

      &:disabled {
        color: #888;
        background-color: #ddd;
        border-color: #b55;
        cursor: default;
      }
    }

    &:disabled {
      color: #888;
      background-color: #ddd;
      cursor: default;
    }

    @media (min-width: 1200px) {
      &:hover {
        background-color: #ddd;
      }
    }
  }

  &-dark {
    background-color: #222;
    border: 1px solid #444;

    &-danger {
      background-color: #222;
      border: 1px solid #600;

      @media (min-width: 1200px) {
        &:hover {
          color: white;
          background-color: #600;
        }
      }

      &:disabled {
        color: #777;
        background-color: #333;
        border-color: #400;
        cursor: default;
      }
    }

    @media (min-width: 1200px) {
      &:hover {
        background-color: #444;
      }
    }

    &:disabled {
      color: #777;
      background-color: #333;
      cursor: default;
    }
  }
}
