.settings {
  &-container {
    width: 100%;
    position: relative;
    min-height: 22rem;
    overflow-x: hidden;
  }
  
  &-options {
    &>div:first-child {
      font-size: 3rem;
      text-align: center;
      display: none;
    
      @media (min-width: 1200px) {
        display: block;
      }
    }

    button {
      width: 100%;
      margin: 2px 0;
      justify-content: space-between;
      border-radius: 0;
      border-width: 1px 0;

      div {
        display: block;
        font-size: 2.5rem;
        margin-bottom: .4rem;
      }
    }

    @media (min-width: 1200px) {
      button {
        width: 11rem;
        margin: 1rem .5rem;
        justify-content: center;
        border-radius: 5px;
        border-width: 1px;

        div {
          display: none;
        }
      }
    }
  }
  
  &-content {
    display: block;
    justify-content: space-between;
  
    &>button:last-child {
      display: flex;
    }
  
    @media (min-width: 1200px) {
      display: flex;
  
      &>button:last-child {
        display: none;
      }
    }
  }
  
  &-status {
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
  
    @media (min-width: 42rem) {
      height: 2rem;
    }
  }
}

.change-form > div {
  display: flex;
  justify-content: center;
}

.change-form-input {
  color: inherit;
  margin: .5rem 0;
  padding-left: .8rem;
  width: 90%;
  height: 2rem;
  font-size: 1.5rem;
  outline: none;
  border-radius: 1.2rem;

  &-light {
    background-color: white;
    border: 1px solid #ddd;
  }

  &-dark {
    background-color: #222;
    border: 1px solid #333;
  }

  @media (min-width: 42rem) {
    width: 80%;
  }
}

.deleting-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;

  @media (min-width: 42rem) {
    font-size: 2rem;
  }
}

.selected-option {
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateX(100%);

  &>button {
    display: block;
    width: 100%;
    margin: 2px 0;
    text-align: left;
    border-radius: 0;
    box-sizing: border-box;
  }

  @media (min-width: 1200px) {
    position: static;
    transform: none;

    &>button {
      display: none;
    }
  }
}

.hide-left {
  animation-duration: .2s;
  animation-name: hideLeft;
  animation-fill-mode: forwards;

  @media (min-width: 1200px) {
    animation: none;
  }
}

.open-right {
  animation-duration: .2s;
  animation-name: openRight;
  animation-fill-mode: forwards;

  @media (min-width: 1200px) {
    animation: none;
  }
}

.open-left {
  animation-duration: .2s;
  animation-name: openLeft;
  animation-fill-mode: forwards;

  @media (min-width: 1200px) {
    animation: none;
  }
}

.hide-right {
  animation-duration: .2s;
  animation-name: hideRight;
  animation-fill-mode: forwards;

  @media (min-width: 1200px) {
    animation: none;
  }
}

@keyframes hideLeft {
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}
}

@keyframes openRight {
  from {transform: translateX(100%);}
  to {transform: translateX(0);}
}

@keyframes openLeft {
  from {transform: translateX(-100%);}
  to {transform: translateX(0);}
}

@keyframes hideRight {
  from {transform: translateX(0);}
  to {transform: translateX(100%);}
}
