.Account-Settings {
  margin-top: 1rem;
}

.Setting-Item {
  display: flex;
  justify-content: space-between;
}

.settings-button {
	border-radius: 5px;
  margin: 1rem .5rem;
	width: 10rem;
  text-align: center;
	cursor: pointer;
	font-size: 16px;
	padding: 1rem;
  text-decoration: none;
  transition-duration: 0.2s;
  outline: none;
}

.settings-button-Dark {
  background-color: #333;
  color: white;
}

.settings-button-Light {
  background-color: whitesmoke;
  color: black;
}

.settings-button:hover {
  background-color: #05359c;
  color: white;
}

.change-nickname > div {
  display: flex;
  justify-content: center;
}

.change-nickname-input {
  margin: 1rem 0;
  padding-left: 1rem;
  width: 80%;
  height: 2rem;
  font-size: 1.5rem;
  outline: none;
  border-style: none;
  border-radius: 1rem;
}
