.welcome {
  &-container {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0;

    &-light {
      background-color: white;
      border: 1px solid #ddd;
    }

    &-dark {
      background-color: #333;
      border: 1px solid #333;
    }

    &>div:first-child, &>div:last-child  {
      font-size: 2.5rem;
      text-align: center;
    }

    &>ul {
      padding-inline-start: 0;
      margin-block-start: 1rem;
      margin-block-end: 1rem;

      @media (min-width: 42rem)  {
        padding-inline-start: 1rem;
      }
    }

    @media (min-width: 42rem) {
      font-size: 2rem;
      border-radius: .5rem;
      padding: 2rem;

      &>div:first-child, &>div:last-child {
        font-size: 3rem;
      }
    }
  }

  &-feature {
    &-item {
      list-style-type: none;
      margin: .5rem 0;
      width: 15rem;

      &-light {
        border-left: 4px solid #ddd;

        @media (min-width: 42rem) {
          &:hover {
            background-color: #eee;
          }
        }
      }

      &-dark {
        border-left: 4px solid #777;

        @media (min-width: 42rem) {
          &:hover {
            background-color: #555;
          }
        }
      }

      &>a {
        padding-left: 1rem;
        color: inherit;
        display: block;
        text-decoration: none;
      }
    }
  }
}
