.PostItemDark {
  background-color: #6e6e6e;
}

.PostItemLight {
  background-color: #c6d1ec;
}

.PostItem {
  margin-top: 2rem;
  border-radius: 1rem;
}

.PostText {
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}
