.PostItemDark {
  background-color: #333;
}

.PostItemLight {
  background-color: whitesmoke;
  border: 1px solid #e0e0e0;
}

.PostItem {
  margin-top: 2rem;
  border-radius: 1rem;
}

.PostText {
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}
