@font-face {
  font-family: 'roboto-light';
  src: url('/roboto-light.ttf');
}

* {
  font-family: 'roboto-light', sans-serif;
}

.light-body {
  background-color: #ebebeb;
  color: black;
}

.dark-body {
  background-color: #222;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.main-component {
  display: flex;
  padding-top: 3rem;
  align-items: flex-start;
  margin: 0 auto;
  width: calc(76rem + 6px);
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 3rem;
  width: 100%;
  z-index: 9;
}

.flex-center {
  display:flex;
  justify-content: center;
}

#choose-picture-input {
  display: none;
}

.welcome-link {
  width: 30rem;
  padding: 2rem;
  font-size: 4rem;
  text-align: center;
  text-decoration: none;

  &-light {
    color:white;
  }

  &-dark {
    color:black;
  }
}

.welcome-container {
  border: solid rgb(63, 145, 145);
  border-width: 3px;
  border-radius: 20px;
  margin: 2rem 45px;

  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}

.post-picture {
  max-height: 400px;
  max-width: 600px;
}

.picture-container {
  height: 400px;
  align-items: center;
}

.middle-list {
  width: calc(40rem + 2px);
}
